* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* general */
a {
    text-decoration: none;
}
ul {
    list-style-type: none;
}
.underline {
    width: 20%;
    margin: 5px 40%;
    border-bottom: 1px solid black;
}
/* first view */
.first-view {
    height: 100vh;
    display: flex;
    flex-flow: column;
}
/* header */
.header {
    background: #333;
    flex-basis: 90px;
    line-height: 90px;
    display: flex;
    flex-flow: wrap nowrap;
}
.logo {
    display: flex;
    flex-flow: wrap nowrap;
    justify-content: flex-start;
    padding-left: 30px;
    flex: 2;
}
.u-list {
    flex: 6;
    display: flex;
    flex-flow: wrap nowrap;
    justify-content: end;
    padding-right: 10px;
}
.crown {
    color: #f1c40f;
    line-height: 90px;
    font-size: 1.5rem;
}
.title-name {
    font-family: "Long Cang", cursive;
    color: white;
    padding-left: 10px;
    font-size: 3rem;
    font-weight: 300;
}
.link {
    color: white;
    font-size: 1.2rem;
    padding: 20px;
}
/* presentation */
.presentation {
    background: url(/images/frame.jpg);
    flex: auto;
    object-fit: cover;
    background-size: cover;
    color: white;
}
h1 {
    text-align: center;
    width: 100%;
    font-size: 4rem;
    text-align: center;
    padding: 280px 30% 20px 30%;
}

.agence-description {
    text-align: center;
    font-size: 2rem;
    font-weight: 300;
    padding: 0 27.5%;
    letter-spacing: 0.4rem;
}
.immobilier {
    color: #f1c40f;
    font-weight: 300;
}
/* last-offer */
.last-offer {
    width: 100%;
    height: 850px;
    padding: 100px 50px 100px 50px;
    background-color: #eee;
}
.offer {
    width: 65%;
    margin: 0 auto;
    display: flex;
    flex-flow: wrap nowrap;
    justify-content: space-between;
}
.title-offer {
    font-size: 2.5rem;
    font-weight: 300;
    padding: 50px 0 50px 17.5%;
}
figure {
    width: 30%;
    height: 450px;
    background-color: white;
    border: 1px solid #ddd;
}
figure img {
    width: 100%;
    height: 250px;
    object-fit: cover;
}
figcaption {
    padding-top: 25px;
    background-color: white;
    font-size: 1.3rem;
}
.description-appartement {
    text-align: center;
    padding: 5px 0 5px 0;
}
/* team */
.team {
    height: 600px;
    background-color: #eee;
    display: flex;
    flex-flow: wrap nowrap;
    background: #333;
}
.team-img {
    flex: 7;
}
.team-img img {
    width: 100%;
    height: 600px;
    object-fit: cover;
}

.team-description {
    flex: 8;
}
.title-team {
    font-size: 2rem;
    padding: 200px 10px 30px 80px;
    color: white;
}
.team-description p {
    font-size: 1.5rem;
    color: white;
    word-spacing: 0.5rem;
    padding: 0 0 50px 80px;
}
/* opinion */
.opinion {
    height: 800px;
    background-color: #eee;
}
.title-opinion {
    font-size: 2.3rem;
    font-weight: 100;
    padding: 100px 10px 30px 20%;
}
.list-opinion {
    width: 60%;
    margin: 20px auto;
    height: 170px;
    background-color: white;
    display: flex;
    flex-flow: wrap nowrap;
    justify-content: space-between;
}
.quote {
    flex: auto;
    height: 150px;
    font-size: 1.3rem;
    text-align: center;
    padding: 50px 0;
    margin: 0 auto;
}

.client {
    height: 150px;
    width: 20%;
    flex-basis: 100px;
    margin-right: 30px;
    display: flex;
    flex-flow: column nowrap;
}
.client img {
    width: 50px;
    height: 50px;
    margin: 20px;
    border-radius: 30px;
    flex: 1;
}
.name {
    flex-basis: 20px;
    flex: 1;
    text-align: center;
    font-size: 1.2rem;
}
.profession {
    flex: 1;
    text-align: center;
}
